* {
  box-sizing: border-box;
}
body {
  background-color: mediumpurple;
  font-family: "Fira Code Retina", monospace;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.btn {
  background-color: rebeccapurple;
  border-radius: 5px;
  border: none;
  color: aliceblue;
  margin: 1rem;
  padding: 1.5rem 3rem;
  font-size: 1.2rem;
  font-family: inherit;
}

.btn:hover {
  cursor: pointer;
  opacity: 0.9;
}

.btn:focus {
  outline: none;
}
